In [ ]:
Introduction to python programing:

In [ ]:
understanding the variable in python:

In [7]:
x = 2
y = 3

In [9]:
 z = x+y
print(z)

5

In [ ]:
Rules for declaring the variables name

In [ ]:
Rule No 1 : No Namespaces while declaring the variable name

In [10]:
firstname ='prasad'
print(firstname)

prasad

In [ ]:
Rule No 2: a variable name should not start with a number **

In [11]:
1name = 'sandeep'
print(1name)

SyntaxError: invalid decimal literal (4122457387.py, line 1)

In [12]:
name1 = 'sandeep'
print(name1)

sandeep

In [ ]:
Rule No 3 : a variable name should not contain any special charcters

In [ ]:
@$#%^&*

In [13]:
name@ ='joesph'
print(name@)

SyntaxError: invalid syntax (2399658553.py, line 1)

In [ ]:
intrudction to data types
1. string =======>  str
2.Numbers (integers =====> int and float (decimals =====> 0.1,0.2)) ====? float
3 list ===> list
4. tuple ====> tuple
5. Dicionaries =====> dict

In [ ]:
classfication of datatypes:
  Boradly datatypes are classified in two categeries :
1 mutable datatypes =====> which can edit /alter ====> flexible in nature
2 immutable datatypes ====> which we cannot be able to edit / alter ====> fixed in nature

In [ ]:
intrduction to string data types
defination : A string is nothing but a series of charcters declared in quotes.

 classification : it is classified as an immutable datatypes

 how to define the string datatypes :
1 single quotes
2 double qoutes

In [14]:
name = 'naga babu'  # single quote
print(name)

naga babu

In [15]:
name2= " basha r" # double qoutes
print(name2)

 basha r

In [ ]:
Introduction to string methods :

In [16]:
type(name)

str

In [17]:
type(name2)

str

In [19]:
fullname = "joseph anthony"

In [20]:
print(fullname)

joseph anthony

In [21]:
print(fullname.title())

Joseph Anthony

In [ ]:
# req " i want the entrie name in capitals....

In [22]:
print(fullname.upper())

JOSEPH ANTHONY

In [ ]:
# req " i want the entrie name in small case  letters....

In [23]:
print(fullname.lower())

joseph anthony